<% provide(:title, 'User-index') %>
<% provide(:page_title, "User Index page") %>

<div class="jumbotron jumbotron-none jumbotron-long">
  <div class="container">
    <div class="row form-row-common">
      <h1 class="headline page-title"><%= yield(:page_title) %></h1>
      <%= render 'shared/flash_messages' %>

    <table class="table table-bordered table-striped table-common">
      <thead class="table-column">
        <tr>
          <th class="col-1 align-middle text-center">ID</th>
          <th class="col-3 align-middle text-center">ユーザー名</th>
          <th class="col-5 align-middle text-center">最終ログイン</th>
          <th class="col-1 align-middle text-center">削除</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td class="align-middle text-center"><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= l(user.last_login, format: :short) %></td>
            <td class="text-center">
              <%= link_to "削除", user_path(user), method: :delete, data: { confirm: "「#{user.name}」を削除します。よろしいですか？"}, class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    </div>
  </div>
</div>
