<% provide(:title, 'Challenge') %>

<div class="jumbotron jumbotron-none jumbotron-long">
  <div class="container">
    <h1 class="headline">Against the forgetting curve</h1>
    <%= render 'shared/error_messages', object: @user %>
    <%= render 'shared/flash_messages' %>

  <div class="row challenge-form-top">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header challenge-question">
          <%= "問題ID: #{@question.id}"%>
        </div>
        <div class="card-body d-flex align-items-center justify-content-center">
          <div><h5 class="card-title"><%= simple_format(h(@question.question)) %></h5></div>
        </div>
      </div>
      <div class="text-right"><%= link_to "他の問題", new_user_challenge_path, class: "btn btn-info" %></div>

      <div class="input-group challenge-margin">
        <div class="input-group-prepend">
          <span class="input-group-text challenge-input">回答入力欄</span>
        </div>
        <textarea class="form-control" aria-label="With textarea" rows="7"></textarea>
      </div>

      <button class="correct-button" onclick="document.querySelector('.correct-form').classList.toggle('correct-view');"><span>答えを表示する</span>答えを表示する</button>

    </div>


    <div class="col-lg-6">
      <div class="correct-form">
        <div class="correct-title">正解</div>
        <div class="correct-view-base">
          <textarea class="correct-view-area" rows="12"><%= (@question.correct) %></textarea>
        </div>
      </div>
    </div>

    <div class="col-lg-6 offset-lg-3">
      <%= form_with(url: user_challenges_update_proficiency_path, method: :patch, local: true) do |f| %>
        <div class="proficiency-aria-parent">
          <div class="proficiency-title">習熟度の設定</div>
          <div class="proficiency-aria">
            <%= f.radio_button :value, 1, class: "lavel-1", checked: bool = @question.proficiency == 1 ? true : false %>
            <%= f.radio_button :value, 2, class: "lavel-2", checked: bool = @question.proficiency == 2 ? true : false %>
            <%= f.radio_button :value, 3, class: "lavel-3", checked: bool = @question.proficiency == 3 ? true : false %>
          </div>
        </div>
        <div>
          <%= f.submit "次の問題", class: "btn btn-primary btn-block btn-next-question" %>
        </div>
      <% end %>
    </div>

    <div class="col-lg-6">
    </div>

  </div>
</div>
